.navigation {
  color: grey;
  font-weight: normal;
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
  color: #fff;
}

.active {
  font-weight: bolder;
  color: #fff;
}

.trending {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 10px;
  margin-bottom: 30px;
}

.imageText {
  position: absolute;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
}

.imgContainer {
  position: relative;
}

.movieImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgContainer:hover .movieImg {
  border: 4px solid white;
  opacity: 0.3;
}

.imgContainer:hover .middle {
  opacity: 1;
}

.textOnImg {
  color: white;
}
